.feature {
    background-color: #f4c23d;
    width: auto !important;
    margin-left: 5px !important;
    padding: 5px;
    margin: 5px;
    border-radius: 15px;
}

.delete {
    background-color: black;
    border: 0;
    border-radius: 100%;
    font-size: 12px;
    color: #f4c23d;
    margin-left: 2px;
    margin-right: 2px;
    transition: all 0.5s;
}

.delete:hover {
    color: black;
    background-color: #f4c23d;
}

.save {
    color: #f4c23d;
    font-size: 45px;
    transition: all 0.5s;
    cursor: pointer;
}

.save:hover {
    color: black;
}

.icon-no-car {
    font-size: 145px;
}

.close {
    font-size: 45px;
    transition: all 0.5s;
    cursor: pointer;
}

.hide-bullets {
    list-style: none;
    margin-left: -40px;
    margin-top: 20px;
}

.thumbnail {
    padding: 0;
}

.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

.new-car .add-icon {
    padding-top: 12px !important;
}

.section-title {
    text-align: center;
    margin-top: -35px;
    font-size: 25px;
    background-color: #f4c23d;
    border-radius: 4px;
}

.key-value {
    border-color: #2959ad !important;
    border-width: 2px !important;
}

.key {
    background-color: #2959ad;
    transform: skewX(-33deg);
    margin-left: 12px;
    width: auto;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.key p {
    transform: skewX(33deg);
}

.value {
    margin-left: 20px;
    width: auto;
}